*{
    margin: 0;
    font-family:Open Sans;
}

header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-bottom: 130px;
    background-size: auto 80%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}
.nav-title{
    font-size: 35px;
    font-weight: 800;
}
ul {
    display: flex;
    align-items: center;
}
ul li{
    margin: 0 10px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.bttn-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px;
    font-size: 20px;
}
.bttn-primary i{
    padding-right: 8px;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
}
.banner-sub-titel{
    font-size: 40px;
}
.banner-titel{
    font-size: 85px;
}
.banner p{
    font-style: italic;
    margin-bottom: 30px;
}
.banner img{
    margin-left: 10px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 150px;
    text-align: center;
    
}
/* about-saction */
.about-saction{
    background-color: #FFF8F3;
    padding: 30px;
    border-radius: 15px;
}
.about-saction h3{
    margin: 10px;
    font-weight: 700;
    font-size: 30px;
}
.about-saction p{
    color: #757575;
    margin-bottom: 10px;
}
/* about info */
.about-info-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.about-info-container .info-dris{
    color:#181818 ;
    font-weight: 800;
}

/* what i do section  */
.service{
    margin-top: 10px;
}

.section-title{
    font-size: 30px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 50px;
}
.skils-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.skill{
    width: 260px;
    text-align: start;
    border-radius: 10px;
    box-shadow: #b19a9a5e 6px 1px 7px 4px;
}
.skill img{
    margin: 5px;
    width: 40px;
    height: 40px;
}
.skill-title{
    color: #181818;
    font-size: 18px;
    font-weight: 700;
    margin: 12px 0;
}
/* <!-- Resume Section --> */
.resume-content{
    display: flex;
    justify-content: space-between;
    text-align: left;

}
.education{
    margin-right: 10px;
}
.resume-title{
    font-size: 30px;
    font-weight: 800;
    color: #474747;
    margin: 20px 0;
}
.title{
    margin: 10px 0;
    font-size: 21px;
    color: #474747;
}
.sub-title{
    color: #757575;
    margin-bottom: 5px;
}
.description{
    color: #757575;
    margin-bottom: 10px;
}

/* <!-- contact section --> */
footer{
    background-color: #FFF8F3;
    height: 600px;
}
.contact{
    display: flex;
    justify-content: space-around;
    margin: 20px 100px;
}
.contact div img{
    margin-top: 10px;
}
form input, textarea{
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 10px;
}
.law{
    text-align: center;
}

.textC-gold{
    color: #FD6E0A;
}
.textC-dark2{
    color: #474747;
}
.textC-dark1{
    color: #181818;
}
